body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #8262ff;
    background-color: beige;
}
li{
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
a{
    color: cornflowerblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}

.resumeheading {
    font-weight: bold;
    font-style: normal;
}
.underline {
    text-decoration: underline;
}
.justify {text-align: justify;}

.homebg {
    background-image: url("../images/cat.jpeg");
    background-position: top right;
    
}

.box1{
    border: width 1px;;
    border-style: solid;
    border-color: slategrey;

}
.box2{
    padding: 5px;

}
.box3{
    margin: 50px;
}
/* comments/*